
<footer class="site-footer row" role="contentinfo">
  <hr/>
  <div class="row">
    <div class="small-12 columns">

      <ul class="inline-list right">
        <li><a href="{{ site.facebookurl }}"><i class="fa fa-facebook"></i>acebook</a></li>
        {% if site.twitterurl %}<li><a href="{{ site.twitterurl }}">Twitter <i class="fa fa-twitter"></i></a></li>{% endif %}
      </ul>

      <ul class="inline-list">
        {% include nav.html %}
        <li><a class='rss' href='/blog.rss'><i class="fa fa-rss-square"></i> RSS</a></li>
      </ul>

    </div>
  </div>

  <div class="row">

    <div class="small-8 columns">
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span>
      Copyleft Piráti, 2014. Všechna práva vyhlazena. Kopírování je aktem lásky.<br/>
      Obsah této stránky můžete volně šířit podle licence
      <a href="http://creativecommons.org/licenses/by/4.0/">Creative commons Uveďte autora 4.0</a>.
    </div>
    <div class="small-4 columns">
      <img src="/assets/images/logo-footer.png" alt="Logo Pirátů"/>
      <a href="#" class="right"><i class="fa fa-angle-up"></i> Nahoru (Top)</a>
    </div>
  </div>

</footer>
