/* color scheme */
$primary-color: #ffcc00;  // piratska zluta!!
$darkgray: #363230;
$lightgray: #4d4845;

/* top bar */
//.white nav {background: white !important;}

$topbar-bg-color: white;
$topbar-link-color: $lightgray;
$topbar-link-color-hover: $lightgray;
$topbar-link-color-active: $lightgray;
$topbar-link-color-active-hover: $lightgray;
$topbar-link-bg-hover: yellow;
$topbar-link-bg-color-hover: yellow;
$topbar-link-bg-active-hover: yellow;
$topbar-link-bg-active: yellow;
$topbar-link-text-transform: uppercase;

$topbar-menu-link-color: $lightgray;
$topbar-menu-icon-color: $lightgray;
$topbar-menu-link-color-toggled: $lightgray;
$topbar-menu-icon-color-toggled: $lightgray;
$topbar-dropdown-label-bg: white;
$topbar-dropdown-bg: white;
$topbar-dropdown-link-bg: white;


// ten cernej radek s napisem mistniho sdruzeni
.middle-bar h1 {
  color: white;
}
.middle-bar {
  background: $darkgray right no-repeat;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom: 15px;
}
#logo {
  margin-left: 20px;
}
.hero {
  font-size: 18px;
}

/* candidate list */

div.candidatecolumn {padding-left:0px !important;}

#candidatelist li.active-candidate, #candidatelist li:hover {
  background:yellow;
}
#candidatelist strong {display:block;}
#candidatelist img {float:left;margin-right:5px;}
.orbit-timer, .orbit-slide-number {display:none;}
#candidatelist li {height:65px;}
ul#candidatelist {margin-left:0px;list-style-type: none;}

@media only screen and (max-width: 48em) {
#candidatelist img {display:none;}
#candidatelist strong {display:inline;padding-right:5px;}
#candidatelist li {display:inline;}
#candidatelist span {display:none;}
}

/* program */

.ilustrace-program {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-top:0px;
}

@media only screen and (max-width: 500px) {
  .ilustrace-program {
    display:block; width:90%; max-width:300px;
    margin-right:5%; margin-left:5%; float:none;
  }
}

div.perex {
  margin-bottom: 20px;
  font-size: 120%;
}

h1 small {
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}


/* blog */
img.blog {float: right;
margin-bottom: 10px;
margin-left: 10px;}
